<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termos de Uso do Cadastro</title>
    <link rel="icon" th:href="@{/images/SIMS_CORACAO_VERDE.png}" type="image/x-icon">
	<link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="assets/fontawesome-6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body id="cadastro">
    <header class="cadastro-header">
        <nav class="navbar">
            <a th:href="@{/}">
                <div class="div-logo">
                    <img th:src="@{/images/SIMS_VERDE_PASTEL.svg}" id="login-logo"
                        alt="Logo do Projeto SIMS, contendo um desenho de coração com o ritmo sinusal no meio na cor verde, com a sigla 'SIMS' escrita abaixo ">
                </div>
            </a>
        </nav>
    </header>
    <main class="cadastroTermos-container">
        <h1>Termos de Uso</h1>
        <h4>1. Cadastro e Informações Pessoais:</h4>
        <p>1.1 Para acessar determinadas funcionalidades do site, será necessário criar uma conta. Ao se cadastrar, você concorda em fornecer informações completas e atualizadas, incluindo seu nome, endereço de e-mail e data de nascimento.</p>
        <p>1.2 Você é responsável por manter a confidencialidade de sua senha e conta. Todas as atividades realizadas através de sua conta são de sua responsabilidade.</p><hr>
        <h4>2. Uso Aceitável:</h4>
        <p>2.1 Você concorda em utilizar o site de acordo com todas as leis aplicáveis e estes termos de uso.</p><hr>
        <h4>3. Filtragem de Notícias:</h4>
        <p>3.1 O Portal de Notícias da Baixada Santista por Cidade utiliza tecnologias de filtragem para apresentar notícias específicas por cidade. No entanto, não possuímos propriedade intelectual sob as notícias filtradas e não garantimos a precisão ou atualidade do conteúdo exibido.</p><hr>
        <h4>4. Privacidade:</h4>
        <p>4.1 Ao utilizar o site, você concorda com nossa Política de Privacidade, disponível separadamente, que detalha como suas informações são coletadas, utilizadas e protegidas.</p><hr>
        <h4>5. Modificações nos Termos:</h4>
        <p>5.1 Reservamo-nos o direito de modificar estes termos de uso a qualquer momento. Alterações significativas serão comunicadas por meio do site ou por e-mail.</p>
        <button type="button" class="btn btn-primary" id="avancar"
            th:onclick="window.location.href = '/'">Avançar</button>
        <button type="button" class="btn btn-primary" id="voltar"
            th:onclick="window.location.href = 'cadastro'">Voltar</button>
    </main>

    <script th:src="@{./scripts/main.js}"></script>
    <!-- Bootstrap scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>