<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro do projeto SIMS</title>
    <link rel="icon" th:href="@{/images/SIMS_CORACAO_VERDE.png}" type="image/x-icon">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="assets/fontawesome-6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body id="cadastro">
    <header class="cadastro-header">
        <nav class="navbar">
            <a th:href="@{/}">
                <div class="div-logo">
                    <img th:src="@{/images/SIMS_VERDE_PASTEL.svg}" id="login-logo"
                        alt="Logo do Projeto SIMS, contendo um desenho de coração com o ritmo sinusal no meio na cor verde, com a sigla 'SIMS' escrita abaixo ">
                </div>
            </a>
        </nav>
    </header>
    
    <main class="cadastro-container">
        <h1>Cadastro</h1>

        <form action="#" th:action="@{/cadastrar}" method="post" th:object="${usuario}" class="login">

            <div class="input-group">
                <label for="nome">Nome Completo:</label>
                <input th:field="*{nomeCompleto}" type="text" id="nome" name="nome" required>

                <label for="usuario">Nome de Usuário</label>
                <input th:field="*{nomeUsuario}" type="text" id="usuario" name="usuario" maxlength="20" required>

                <label for="email">E-mail:</label>
                <input th:field="*{email}" type="email" id="email" name="email" required>

                <label for="senha">Senha:</label>
                <input th:field="*{senha}" type="password" id="senha" name="senha" minlength="6" required>

                <label for="confirmar_senha">Confirmar Senha:</label>
                <input type="password" id="confirmar_senha" name="confirmar_senha">
               
                <label for="data">Data de nascimento:</label>
                <input th:field="*{dataNascimento}" type="date" id="data" name="data" min="1950-01-01" max="2007-01-01" required>
            </div>
            <input type="submit" value="Avançar" class="btn btn-primary" id="avancar">
        </form>
        <button type="button" class="btn btn-primary" id="voltar"
            th:onclick="window.location.href = 'login'">Voltar</button>
    </main>

    <script th:src="@{./scripts/main.js}"></script>
    <!-- Bootstrap scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>