/* GERAL */
html,
body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.home-header {
  background-color: #012030;
  color: #fff;
  padding: 1rem;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 16;
}

main {
  background-color: #f5f5f5;
}

footer {
  background-color: #012030;
  color: #fff;
  padding-top: 0.5rem;
  text-align: center;
  position: static;
  bottom: 0;
  width: 100%;
}

.home-header li {
  display: inline;
  float: right;
}

/* NAVBAR */

#logo {
  float: left;
  width: 50px;
  max-width: 200px;
  margin-right: 20%;
}

#navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  float: left;
  margin-top: 0.5rem;
  padding-left: 10rem;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.navbar li {
  display: inline-block;
  margin: 0 10px;
}

.dropdown-item {
  display: inline-flex;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}

#navbar a:not(.dropdown-item) {
  color: #f5f5f5;
}

.navbar a:hover {
  text-decoration: none;
}

.navbar a {
  color: inherit;
}

#toggle-navbar {
  margin-top: 1rem;
  margin-left: 6.3rem;
  margin-bottom: 1.3rem;
  background-color: #014568;
  outline: none;
}

#navbarSupportedContent {
  margin-right: -3rem;
}

#dropdown-menu {
  text-align: end;
  float: right;
  width: 50%;
  margin-right: 15%;
}

#navbarDropdown {
  margin-right: 40px;
}

/* ESPAÇAMENTO ENTRE ITEMS DO NAVBAR */
.home-header a:not(.dropdown-item) {
  margin-right: 3rem;
}

/* INFORMAÇÕES */

.infos a {
  display: inline-flex;
  color: #f5f5f5;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 5px;
}

.infos p {
  font-size: 14px;
}

.infos a:hover {
  color: black;
  text-decoration: none;
}

/* FOOTER */

footer p {
  font-size: 12px;
  color: #f5f5f5;
  font-weight: bold;
}

/* CARROSSEL */

.carousel-item {
  height: 32rem;
  background-color: #777;
  margin: 1rem auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
  color: #f5f5f5;
}

.overlay-image1 {
  background-image: url(../images/vacinacao.jpg);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.4;
}

.overlay-image2 {
  background-image: url(../images/recemnascido.jpg);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.4;
}

.overlay-image3 {
  background-image: url(../images/smartwatch.jpg);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.4;
}

/*ICONES DO RODAPÉ*/
.icons {
  font-size: 20px;
}

.icons i {
  display: inline-flex;
  height: 40px;
  width: 40px;
  background: black;
  color: #f5f5f5;
  margin: 0 6px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.icons i:hover {
  background: #f5f5f5;
  color: black;
}

.icons a i {
  transition: 00.4s all;
}

.icons a:hover>i {
  transform: scale(1.0) rotate(25deg);
}

/* SUB-FOOTER */

.sub-footer {
  background-color: #002639;
  width: 100%;
  padding: 0.1rem;
  text-align: center;
  justify-content: center;
}

.sub-footer p {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

/* NOTICIAS */

.news {
  display: flex;
  margin-left: 2rem;
  width: 100%;
}

.news-img {
  max-width: 100%;
  height: auto;
  width: 360px;
  margin: 0 12px;
}


.news-desc {
  width: 460px;
  float: right;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
  margin-top: -0.4rem;
}


.news-container {
  padding: 20px;
  margin: 2.5rem 0;
  width: 100%;
}

.news-container a {
  color: #012030;
}


.news-content {
  float: left;
  padding-bottom: 1.5rem;
}

.news-item {
  width: 100%;
  height: 350px;
  padding-bottom: 20px;
}

.news-desc h1 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.news-desc h2 {
  font-size: 1rem;
  margin-bottom: 5.35rem;
}

.news-desc .date {
  text-decoration: none;
  color: black;
}

/* CIDADE */

.cidade{
  align-self: center;
  color: #002639;
}

/* MAIS ACESSADAS */

.news-side {
  padding-right: 2rem;
  width: 30%;
  float: right;
  border: 0.2rem solid #012030;
  min-width: 30%;
  margin-top: -1.2rem;
}

.news-side h1 {
  color: black;
  padding: 1rem 0 0 2.5rem;
}

.news-side ul {
  list-style-type: none;
}

@media (max-width: 800px) {

  .wrapper {
    margin-left: 2rem;
    padding-top: 1.5rem;
  }

  /* NOTICIAS */
  .news {
    display: flex;
    margin-left: 2rem;
    width: 60%;
  }

  .news-img,
  .news-desc {
    margin-left: -1rem;
  }

  .news-desc {
    width: 460px;
    float: right;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 10rem;
    margin-top: -0.4rem;
  }

  .news-container {
    padding: 20px;
    margin: 2.5rem 0;
    width: 100%;
  }

  .news-content {
    float: left;
    padding-bottom: 1.5rem;
    min-width: 50%;
  }

  .news-item {
    width: 100%
  }

  .news-desc h2 {
    font-size: 0.85rem;
    margin-bottom: 1rem;
  }

  .news-side {
    margin-top: 1.2rem;

  }

  /* MAIS ACESSADAS */

  .news-content {
    display: flex;
    flex-direction: column;
  }

  .news-side {
    padding-right: 2rem;
    width: 100%;
    border: 0.2rem solid #012030;
  }
}

/* LOGIN E CADASTRO*/

#login,
#cadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: rgb(2, 61, 49);
  background: linear-gradient(324deg, rgba(2, 61, 49, 1) 0%, rgba(1, 32, 48, 1) 50%, rgba(2, 10, 61, 1) 100%);
  color: #012030;
}

.login-container {
  width: 400px;
  max-width: 100%;
  text-align: center;
  padding: 2rem;
  border-radius: 5px;
  border-radius: 30px;
}

.cadastro-container {
  width: 550px;
  max-width: 100%;
  text-align: center;
  padding: 2rem;
  border-radius: 5px;
  padding-bottom: 1rem;
  border-radius: 30px;
  margin-top: 12rem;
}

.input-group {
  margin-top: 25px;
  margin-bottom: 10px;
}

label {
  text-align: left;
  margin: 0;
  margin-top: 10px;
}

input:not(#entrar) {
  width: 100%;
}

#entrar,
#avancar {
  width: 80%;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
  background-color: #012030;
  border-radius: 30px;
  border: 0;
}

#criar-conta,
#voltar {
  width: 40%;
  align-self: center;
  margin-left: 0.2rem;
  background-color: #012030;
  border: 0;
  border-radius: 30px;
}

.cadastro-container .btn {
  margin-top: 2rem;
}

.cadastro-header {
  background-color: red;
  width: 100%;
  padding: 1rem;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 16;
}

.cadastro-logo img {
  background-color: goldenrod;
  float: left;
  width: 50px;
  max-width: 200px;
  margin-right: 20%;
}

.cadastro-header div {
  padding: 1rem;
  top: 0;
  left: 0;
}